@import url(https://fonts.googleapis.com/css?family=PT+Sans);

$font-family: "Gingham", "PT Sans", sans-serif;

$li-padding: 5px;

// colors
$secondary-color: #08fdd8;
$background-color: #444;
$progressbar-title-color: #fff;

$red: #c0392b;
$blue: #1199ff;
$purple: #9b59b6;
$orange: #ffa500;
$green: #27ae60;
$cyan: #00ffff;
$magenta: #f08080;

$animation-delay: 0.7s;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background: darken($background-color, 14);
  width: 100%;
  height: 100%;
  font-family: $font-family;
}

@font-face {
  font-family: "Gingham";
  src: url("Gingham.woff2") format("woff2");
}
h1 {
  text-align: center;
  color: darken($secondary-color, 23);
  font-variation-settings: "wght" 500, "wdth" 400;
  font-size: 30px;
  margin: 0;
}

.skills-bar-container {
  position: relative;
  width: 40%;
  min-width: 300px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  list-style: none;

  li {
    position: relative;
    width: 100%;
    padding: $li-padding;
    margin-bottom: 10px;

    .progressbar-title {
      color: $progressbar-title-color;

      h3 {
        display: inline-block;
      }
      .percent {
        position: absolute;
        right: $li-padding;
      }
    } // end progressbar-title

    .bar-container {
      background: #555;
      position: relative;
      width: 100%;
      height: 5px;
      margin-top: 5px;
      display: block;
      @include border-radius(5px);

      .progressbar {
        position: absolute;
        width: 0%;
        height: 100%;
        @include border-radius(5px);

        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }
      #progress-html {
        -webkit-animation-name: progress-html;
        animation-name: progress-html;
        -webkit-animation-delay: $animation-delay;
        animation-delay: $animation-delay;
      }

      #progress-css {
        -webkit-animation-name: progress-css;
        animation-name: progress-css;
        -webkit-animation-delay: $animation-delay * 2;
        animation-delay: $animation-delay * 2;
      }

      #progress-javascript {
        -webkit-animation-name: progress-javascript;
        animation-name: progress-javascript;
        -webkit-animation-delay: $animation-delay * 3;
        animation-delay: $animation-delay * 3;
      }

      #progress-php {
        -webkit-animation-name: progress-php;
        animation-name: progress-php;
        -webkit-animation-delay: $animation-delay * 4;
        animation-delay: $animation-delay * 4;
      }

      #progress-angular {
        -webkit-animation-name: progress-angular;
        animation-name: progress-angular;
        -webkit-animation-delay: $animation-delay * 5;
        animation-delay: $animation-delay * 5;
      }
      #progress-sql {
        -webkit-animation-name: progress-sql;
        animation-name: progress-sql;
        -webkit-animation-delay: $animation-delay * 6;
        animation-delay: $animation-delay * 6;
      }
      #progress-python {
        -webkit-animation-name: progress-python;
        animation-name: progress-python;
        -webkit-animation-delay: $animation-delay * 7;
        animation-delay: $animation-delay * 7;
      }
    } // end bar-container
  }
}

.progressred {
  background-color: $red;
}
.progressblue {
  background-color: $blue;
}
.progresspurple {
  background-color: $purple;
}
.progressorange {
  background-color: $orange;
}
.progressgreen {
  background-color: $green;
}
.progresscyan {
  background-color: $cyan;
}
.progressmagenta {
  background-color: $magenta;
}

@-webkit-keyframes progress-html {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
@-webkit-keyframes progress-css {
  0% {
    width: 0%;
  }
  100% {
    width: 67%;
  }
}
@-webkit-keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
@-webkit-keyframes progress-php {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}
@-webkit-keyframes progress-angular {
  0% {
    width: 0%;
  }
  100% {
    width: 52%;
  }
}

@-webkit-keyframes progress-sql {
  0% {
    width: 0%;
  }
  100% {
    width: 44%;
  }
}

@-webkit-keyframes progress-python {
  0% {
    width: 0%;
  }
  100% {
    width: 11%;
  }
}

@-moz-keyframes progress-html {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
@-moz-keyframes progress-css {
  0% {
    width: 0%;
  }
  100% {
    width: 67%;
  }
}
@-moz-keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
@-moz-keyframes progress-php {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}
@-moz-keyframes progress-angular {
  0% {
    width: 0%;
  }
  100% {
    width: 52%;
  }
}
@-moz-keyframes progress-sql {
  0% {
    width: 0%;
  }
  100% {
    width: 44%;
  }
}
@-moz-keyframes progress-python {
  0% {
    width: 0%;
  }
  100% {
    width: 11%;
  }
}

@keyframes progress-html {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
@keyframes progress-css {
  0% {
    width: 0%;
  }
  100% {
    width: 67%;
  }
}
@keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
@keyframes progress-php {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}
@keyframes progress-angular {
  0% {
    width: 0%;
  }
  100% {
    width: 52%;
  }
}
@keyframes progress-sql {
  0% {
    width: 0%;
  }
  100% {
    width: 44%;
  }
}
@keyframes progress-python {
  0% {
    width: 0%;
  }
  100% {
    width: 11%;
  }
}
